.swiper-button-prev{    
    background: #fff;
    left: 0;
    height: 80px;
    width: 30px;
    border-radius: 0 5px 5px 0;
    color: #000;
    top: 50%;
    transform: translate(0, -30%);
    transition: all 0.1s ease-in-out;
}

.swiper-button-prev:after{
    font-size: 20px;
}

.swiper-button-prev:hover{
    background: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.swiper-button-next{    
    background: #fff;
    right: 0;
    height: 80px;
    width: 30px;
    border-radius: 5px 0 0 5px;
    color: #000;
    top: 50%;
    transform: translate(0, -30%);
    transition: all 0.1s ease-in-out;

}

.swiper-button-next:after{
    font-size: 20px;
}


.swiper-button-next:hover{
    background: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.swiper-pagination{
    background: rgba(0, 0, 0, 0.3);
    padding: 3px;
    border-radius: 50px;
}

.swiper-pagination-bullet-active{
    background: #fff;
}