@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(243 244 246);
  scroll-behavior: smooth;
  font-size: 15px;
}

input,
select {
  outline: none;
}

.batch_heart {
  background: tomato;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid transparent; /* Transparent border to provide spacing around the thumb */
  background-clip: padding-box; /* Avoids border overlapping the thumb */
}

/* Customize scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #9a9a9a; /* Darker color on hover */
}

/* Hide scrollbar track (for horizontal scrollbars) */
::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

/* Hide scrollbar track (for vertical scrollbars) */
::-webkit-scrollbar-track:horizontal {
  background: transparent; /* Hide the track */
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.input-with-icon {
  padding-right: 2.5rem !important;
}

.icon-container {
  font-size: 20px;
  position: absolute;
  top: 70%;
  right: 0.75rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-container {
  position: relative;
}

.input-with-icon-container {
  position: relative;
}

.error-message {
  position: absolute;
  bottom: -1.3rem;
  left: 0;
  font-size: 0.875rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.activate-icon {
  margin: 0 auto;
}

.swiper-button-prev {
  background: #fff;
  left: -1px;
  height: 80px;
  width: 30px;
  border-radius: 0 8px 8px 0;
  color: #000;
  top: 50%;
  transform: translate(0, -30%);
  transition: all 0.1s ease-in-out;
}

.swiper-button-prev:after {
  font-size: 11px;
}

.swiper-button-next {
  background: #fff;
  right: -1px;
  height: 80px;
  width: 30px;
  border-radius: 8px 0 0 8px;
  color: #000;
  top: 50%;
  transform: translate(0, -30%);
  transition: all 0.1s ease-in-out;
}

.swiper-button-next:after {
  font-size: 11px;
}

.swiper-pagination {
  background: rgba(0, 0, 0, 0.3);
  padding: 3px;
  border-radius: 50px;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating-separator {
  width: 1.2px;
  background: rgba(0, 0, 0, 0.3);
  height: 12px;
}

.c-mb-16 {
  margin-bottom: 16px !important;
}

.c-mb-20 {
  margin-bottom: 20px !important;
}

.c-mb-22 {
  margin-bottom: 20px !important;
}

.c-mb-30 {
  margin-bottom: 30px !important;
}

.divider {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #9ca3af;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 0.5px;
  background-color: #e5e7eb;
  margin: 8px;
}

.google-btn-icon {
  width: 16px;
  height: 16px;
}

.userMobile .react-international-phone-input {
  background-color: #f9fafb !important;
}

.userMobile .react-international-phone-country-selector button {
  background-color: #f9fafb !important;
}

.userMobile .react-international-phone-input:disabled {
  color: #6b7280 !important;
  background-color: #f3f4f6 !important;
}

.userMobile .react-international-phone-country-selector button:disabled {
  color: #6b7280 !important;
  background-color: #f3f4f6 !important;
}

.profile-active-link {
  background-color: #f3f7ff;
  color: #111827;
  border-radius: 0.5rem;
}
