@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-Poppins: Poppins;
  /* primary */
  --color-primary-0: #f6f9ff;
  --color-primary-10: #f4f8ff;
  --color-primary-20: #f3f7ff;
  --color-primary-30: #f1f6ff;
  --color-primary-40: #eff5ff;
  --color-primary-50: #eef4ff;
  --color-primary-100: #e1eafe;
  --color-primary-200: #c9d8fc;
  --color-primary-300: #a7bffa;
  --color-primary-400: #849bf5;
  --color-primary-500: #6778ed;
  --color-primary-600: #4a51e1;
  --color-primary-700: #3c40c6;
  --color-primary-800: #3c40c6;
  --color-primary-900: #30357f;
  --color-primary-950: #1c1e4a;

  /* error */
  --color-error-10: #fff5f7;
  --color-error-20: #fff3f5;
  --color-error-30: #fff1f3;
  --color-error-40: #ffedf0;
  --color-error-50: #fff0f3;
  --color-error-100: #ffdee4;
  --color-error-200: #ffc2ce;
  --color-error-300: #ff98ac;
  --color-error-400: #ff5c7b;
  --color-error-500: #ff2952;
  --color-error-600: #f80a37;
  --color-error-650: #dc2626;
  --color-error-700: #e5042f;
  --color-error-800: #ad0727;
  --color-error-900: #8e0e26;
  --color-error-950: #4e0110;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(243 244 246);
  scroll-behavior: smooth;
  font-size: 15px;
}

input,
select {
  outline: none;
}

.batch_heart {
  background: tomato;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

/* Hide scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid transparent; /* Transparent border to provide spacing around the thumb */
  background-clip: padding-box; /* Avoids border overlapping the thumb */
}

/* Customize scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #9a9a9a; /* Darker color on hover */
}

/* Hide scrollbar track (for horizontal scrollbars) */
::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

/* Hide scrollbar track (for vertical scrollbars) */
::-webkit-scrollbar-track:horizontal {
  background: transparent; /* Hide the track */
}

:focus-visible {
  outline: none;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.input-with-icon {
  padding-right: 2.5rem !important;
}

.icon-container {
  font-size: 20px;
  position: absolute;
  top: 70%;
  right: 0.75rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-container {
  position: relative;
}

.input-with-icon-container {
  position: relative;
}

.error-message {
  position: absolute;
  bottom: -1.3rem;
  left: 0;
  font-size: 0.875rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.activate-icon {
  margin: 0 auto;
}

.swiper-button-prev {
  background: #fff;
  left: -1px;
  height: 80px;
  width: 30px;
  border-radius: 0 8px 8px 0;
  color: #000;
  top: 50%;
  transform: translate(0, -30%);
  transition: all 0.1s ease-in-out;
}

.swiper-button-prev:after {
  font-size: 11px;
}

.swiper-button-next {
  background: #fff;
  right: -1px;
  height: 80px;
  width: 30px;
  border-radius: 8px 0 0 8px;
  color: #000;
  top: 50%;
  transform: translate(0, -30%);
  transition: all 0.1s ease-in-out;
}

.swiper-button-next:after {
  font-size: 11px;
}

.swiper-pagination {
  background: rgba(0, 0, 0, 0.3);
  padding: 3px;
  border-radius: 50px;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating-separator {
  width: 1.2px;
  background: rgba(0, 0, 0, 0.3);
  height: 12px;
}

.c-mb-16 {
  margin-bottom: 16px !important;
}

.c-mb-20 {
  margin-bottom: 20px !important;
}

.c-mb-22 {
  margin-bottom: 22px !important;
}

.c-mb-30 {
  margin-bottom: 30px !important;
}

.divider {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #9ca3af;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 0.5px;
  background-color: #e5e7eb;
  margin: 8px;
}

.google-btn-icon {
  width: 16px;
  height: 16px;
}

.phoneNumber .react-international-phone-input {
  background-color: #f9fafb !important;
}

.phoneNumber .react-international-phone-country-selector button {
  background-color: #f9fafb !important;
}

.phoneNumber .react-international-phone-input:disabled {
  color: #6b7280 !important;
  background-color: #f3f4f6 !important;
}

.phoneNumber .react-international-phone-country-selector button:disabled {
  color: #6b7280 !important;
  background-color: #f3f4f6 !important;
}

.phoneNumber-error .react-international-phone-input {
  background-color: #fff0f3 !important;
  border-color: #f80a37;
  color: #f80a37;
}

.phoneNumber-error .react-international-phone-country-selector button {
  background-color: #fff0f3 !important;
  border-color: #f80a37;
}

.profile-active-link {
  background-color: #f3f7ff;
  color: #111827;
  border-radius: 0.5rem;
}

.forgotPassword {
  margin-top: 14px !important;
}
